/* Index */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
    background-repeat: no-repeat;
    background-position-x: center;
    height:100%;
    width: 100%;
    
}

#dscLogoHeader {
    margin-top: -25%;
}

.inner{
    position:absolute;
}

#contentGrid {
    margin-top: 1%;
    font-size: xx-large;
}

#mainWrapper {
    height:100%;
    width:100%;
}

#headerContainer {
    height:70%;
    background-color:#f1f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    font-size: 500%;
    font-weight: bold;
    color:black;
}

.navbar {
    background-color:#f1f3f4;
}


#darkModeButton {
    float: right;
}

#quoteSegment {
    margin-top: 5%;
}

.changeButtonHTML { 
    cursor: pointer; 
    border: 1px solid #555; 
    border-radius: 40%; 
    width: 20px; 
    text-align: center; 
    padding: 5px; 
    margin-left: 8px; 
} 

.dark{
    background-color: #121212 !important; 
    color: #e6e6e6 !important; 
} 
.dark2{
    background-color: lightgrey !important; 
    color: #e6e6e6 !important; 
} 
.darkTest {
    background-image: url("/images/giphy.gif") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
/* Use for formatting carousel */
#carouselContainer{
    height: 30%;
    opacity: 0.3;
}

/* about */
.card{
    width: 10%;
}
.image{
    width:  100px;
    height: auto;
    object-fit: cover;
    margin: auto;

}

/* Contact */

.contactInformation{
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
}

/* Resource */
.resource-image {
    width: 400px;
    height: auto;
}

.resource-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}