extends layout.pug

block content
    div#main-wrapper

        div#header-container(class="p-5 d-flex flex-column justify-content-center align-items-center text-center")
            div#dsc-logo-header
                img(src="/images/dsclogo-umich.png" alt="DSC UMich Logo" height="300")

            div.introduction
                div(class="ui massive primary button mt-5" onclick="window.open('https://dsc.community.dev/university-of-michigan')")
                    | Join Us <i class="right arrow icon"></i>

        div(class="index-content p-5")
            div#content-grid.container
                h1(class="ui large header") We are Developer Student Club.
                p.fs-3 
                    | Welcome! At Google DSC, we care about bridging the gap between theory and practice. 
                h1(class="ui large header") We Do Things That Matter
                p.fs-3
                    | As a community, we learn different Google technologies
                    | and build inspiring projects with them. Along the way,
                    | we get mentorship and resources directly from Google and make
                    | amazing friends with those around us. If this sounds like something
                    | you're interested in, join us above!

    div#quote-segment(class="ui vertical stripe quote segment")
        div(class="ui equal width stackable internally celled grid")
            div(class="center aligned row")
                div.column
                    h1 "Best Club Ever <em data-emoji="relaxed" class="small"></em>"
                    p Bark Schmissel
                div.column
                    h1 "Google DSC is the Best"
                    p Elong Dusk