doctype html
html(lang='en')
    head
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous")
        include includes/head.pug

    body
        include includes/nav.pug

        block content

        include includes/footer.pug