extends layout.pug 

block content 
    div.container(style="min-height: 100%")
        //- put in links, slides, and other resources
        div.resource-card
            div
                h1.resource-title Resources
                h2.resource-header Google Technologies
                a(href="https://codelabs.developers.google.com/")
                    img.resource-image(src="/images/codelabsLogo.png")

        div.resource-card
            div
                a(href = "https://www.qwiklabs.com/")
                    img.resource-image(src="/images/qwiklabLogo.png")
            a(href = "https://developers.google.com/apis-explorer") APIs Explorer
            <br>
            a(href = "https://developers.google.com/learn/pathways") Pathways Explorer

        div
            h2.resource-header Club Resources
            a(href="https://developers.google.com/community/dsc-solution-challenge") Google DSC Solution Challenge
            p Shared Drive Link
            h2.resource-header Study Jams
            a(href = "https://docs.google.com/presentation/d/1kjcXjPUj4YatxAW35f2Fg23NpJgciSqWH6srFeN_pk8/edit?usp=sharing") Intro to APIs
            <br>
            a(href = "https://docs.google.com/presentation/d/1PXamjVBlVowZhz4qMJmbFfqjDBiyzhXxMgjcZTyqVsE/edit?usp=sharing") Intro to Machine Learning
            <br>
            <br>
            p Contact Us for More Information or Qwiklab credits ;)