nav#navbarID(class="navbar navbar-expand-lg navbar-light fs-5")
    div.container 
        a.navbar-brand(href="./index.html")
            img(src="/images/logo.svg" height="30" alt="DSC Logo")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon

        div#navbar-supported-content(class="collapse navbar-collapse")
            //- - const pages = ["Team", "Events", "Resources"]
            ul(class="navbar-nav mr-auto")
                //- - const link = "/html/" + page.toLowerCase() + ".html"
                li.nav-item
                  a.nav-link(href="./team.html") Team
                li.nav-item 
                  a.nav-link(href="./events.html") Events
                li.nav-item 
                  a.nav-link(href="./resources.html") Resources

        label.float-end
            input#theme-toggler.toggle-checkbox(type='checkbox' onchange="toggleTheme(event)")
            div.toggle-slot
                div.sun-icon-wrapper
                    div(class="iconify sun-icon" data-icon="feather-sun" data-inline="false")
                div.toggle-button
                    div.moon-icon-wrapper
                        div(class="iconify moon-icon" data-icon="feather-moon" data-inline="false")

script(type="text/javascript" src="./js/nav.js")
